.navbar-details{
    padding: 5%;
    font-size:24px;
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    font-family:roboto;
   
  }
  p{
    font-size: 22px;

  }