.navbar-name{
    padding: 5%;
    font-size:24px;
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /* body{
    background-color: white;
  } */
  .card-list{
    width:22rem;
    min-height: 18rem;
    
  }
  