.sidebar li{
  padding: 5%;
  list-style: none;
  font-size:18px;
  letter-spacing: 1.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-delay: 5ms;
}

.sidebar li:hover{
    text-decoration: underline;
}
.logo{
  width:10rem;
  height:12rem;
  margin-left: 7rem;
  color:white;
}