.form-group {
    margin:0;
    padding:20px ;

    
}

.form-control {
  padding: 0px 10px 0 20px;
  margin-top: 10px;
  color: #333;
  font-size: 28px;
  font-weight: 500;
    border: 3px solid black;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:60px;
    height: auto;
    border-radius: 50px 0  0 50px !important;
}
.form-control :focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: transparent;

    }

#searchbtn
{ border:0;
  padding: 0px 10px;
  margin-top: 10px;
  color: #fff;
  background:rgb(104, 124, 240);
  font-size: 27px;
  font-weight: 500;
    border: 3px solid black;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:60px;
    height: auto;
border-radius: 0 50px 50px 0 !important;
}