body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand";
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(./fonts/Quicksand-Regular.ttf) format("truetype");
}

code {
  font-family: "Quicksand";
}
/* width */
::-webkit-scrollbar {
  width: auto;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue; 

}
