body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand";
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(./fonts/Quicksand-Regular.ttf) format("truetype");
}

code {
  font-family: "Quicksand";
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #343a40;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #343a40;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color:#343a40;
}
/* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
/* monospace; */
